a, a:visited, a:hover {
	color: #1268A7;
}

form label {
	width: 200px;
	float: left;
	text-align: right;
	margin-right: 10px;
	background-color: #EBF6FF;
	padding: 5px;
	margin-bottom: 2px;
}

form br {
	clear: left;
}

body, input, textarea, select {
	font: 10pt Verdana;
}


table.results tr {
	padding: 8px;
}

table.results th a {
	text-decoration: none;
}

table.results th {
	padding-left: 10px;
	padding-right: 10px;
}

table.results {
}

table.results tr:hover {
	background-color: #EBF6FF;
}

table.results td {
	border: 1px solid #CCCCCC;
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
}	

fieldset {
	border: 1px solid #CCCCCC;
}

fieldset legend {
	font-weight: bold;
}

div.popup {
	position: absolute;
	top: 200px;
	left: 300px;
	width: 400px;
	height: 600px;
	border: 4px solid #DDDDDD;
	background-color: #F6F6F6;
}